#one{
    margin-left: 44%;
}
#two{
    margin-left: 44%;
}
#three{
    margin-left: 47%;
}
h1{
    text-align: center;
}
#app{
    margin-left: 45%;
    
}
#lappy{
    text-justify: auto;
    font-size: 130%;
    font-family:cursive;
    margin-left: -51%;
}
p{
    font-family:cursive;
    font-size: 130%;
    margin-left: -10%;

}